<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Welcome to <%= title %></p>

    <video id="localStream" autoplay></video>

    <br><br>
    <label>My Connection Token</label>

    <br><br>
    <textarea rows="3" cols="100" id="txtMySignal"></textarea>

    <br><br>
    <input type="text" placeholder="Your friend's signal" id="txtFriendSignal">

    <br><br>
    <button type="button" class="btn btn-primary" id="btnConnect">Connect</button>

    <script src="bundle.js"></script>
  </body>
</html>